
p {
  background-color: yellow;
}

p {
  color: red;
}
p {
  width: 200px;
  height: 100px;
  box-sizing: content-box;
  border: red 25px solid;
}
p {
  text-emphasis: triangle red;
}
p {
  font-size: medium;
}
p {
  line-height: 200%;
}

li {
  list-style-type: disc;
}
table {
  border: black 1px solid;
}
td, th {
  border: black 1px solid;
}
table {
  margin-left: auto;
  margin-right: auto;
}

caption {
  background-color: lightblue;
  text-align: right;
}





  
