
p {
  background-color: yellow;
}

p {
  color: red;
}
p {
  width: 250px;
  height: 150px;
  box-sizing: content-box;
  border: red 25px solid;
}
p {
  text-emphasis: triangle red;
}
p {
  line-height: 200%;
}
p {
  font-size:50px;
}
ul {
  font-size: 15px;
}





  
