body{
  background-image: url("img/fondoarcoiris.webp");
}
p {
  background-color: yellow;
}

p {
  color: red;
}
p {
  width: 200px;
  height: 100px;
  box-sizing: content-box;
  border: red 25px solid;
}




  
